In [2]:
import mysql.connector

In [3]:

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="silvia",
    database = "movies"
)
cur = mydb.cursor()

In [4]:
## EXCERCICI 1

from IPython.display import Image

In [12]:
Image(url="Imagen1.png", width=300, height=300)

In [ ]:
##•	Aquest seria l’esquema. Tots són N = 1 (muchos a 1)
## La interrelació és de grau tres, ternària. 
## La interrelació que uneix tb_ movie_person amb person, especifica que una persona pot actuar en més d’una pel.lícula, però els actors d’una pel.lícula en concret nomès poden sortir en aquesta, ja que no hi haurà una més igual. També indica que és obligatori de la precència d’una o varies persones per la tb movie person. 
## La interrelació que uneix tb movie_person amb Rol, especifica que només pot haber un únic Rol i que aquest és obligatori per la tb movie person. 
## I en el cas de tb_ movie poden existir varies pel-lícules, però no iguals per la id movie person, encara que també és obligatori per la movie person tenir pel.lícules. 
# -	Hi han 3 claus primaries en tb_movie_person (movie, person,role id) i 2 claus Foràneas (movper_person, movper_role)
# -	En tb Rol nomès una clau primaria, rol id.
# -	En tb movie hi ha una clau primaria (movie id), i una clau forània movie_genre. 
# -	En tb person hi ha una clau primaria (person id) i una clau forània person_parent. 
# -	I en tb genere hi ha una clau primaria genre id.

In [39]:
### EXERCICI 2
 # Has d'obtenir el nom, el país i la data de naixement d'aquelles persones per les quals no consti una data de mort 
 # i ordenar les dades de la persona més vella a la persona més jove.

cur.execute("""SELECT person_name, person_country, person_dob 
FROM movies.tb_person
WHERE person_dod IS NULL ORDER BY person_dob ASC;""")

exercici_2 = cur.fetchall()

for row in exercici_2:
    print(row)

('John Williams', 'United States', datetime.date(1928, 8, 8))
('Vera Miles', 'United States', datetime.date(1929, 8, 23))
('Sean Connery', 'Scotland', datetime.date(1930, 7, 8))
('Robert Duvall', 'United States', datetime.date(1931, 1, 5))
('Morgan Freeman', 'United States', datetime.date(1935, 10, 1))
('Francis Ford Coppola', 'United States', datetime.date(1939, 4, 7))
('Gary Kurtz', 'United States', datetime.date(1940, 7, 27))
('Martin Sheen', 'United States', datetime.date(1940, 8, 3))
('Harrison Ford', 'United States', datetime.date(1942, 7, 13))
('George Lucas', 'United States', datetime.date(1944, 5, 14))
('Carmine Coppola', 'United States', datetime.date(1945, 7, 8))
('Steven Spielberg', 'United States', datetime.date(1946, 12, 18))
('Tim Robbins', 'United States', datetime.date(1949, 6, 7))
('Mel Gibson', 'Australia', datetime.date(1950, 8, 9))
('Tom Hanks', 'United States', datetime.date(1956, 7, 9))
('Emilio Martinez Lazaro', 'Spain', datetime.date(1956, 9, 9))
('Karra Elejalde', 'Spain', datetime.date(1960, 3, 6))
('Emilio Estevez', 'United States', datetime.date(1962, 5, 12))
('Ramón Estevez', 'United States', datetime.date(1963, 8, 7))
('Carmen Machi', 'Spain', datetime.date(1964, 8, 9))
('Charlie Sheen', 'United States', datetime.date(1965, 9, 3))
('Reneé Estevez', 'United States', datetime.date(1967, 4, 2))
('Catherine Zeta-Jones', 'Wales', datetime.date(1969, 9, 25))
('Robert Alamo', 'Spain', datetime.date(1970, 5, 6))
('Daniel Sanchez Arevalo', 'Spain', datetime.date(1970, 6, 8))
('Quim Gutierrez', 'Spain', datetime.date(1981, 3, 27))
('Veronica Echegui', 'Spain', datetime.date(1983, 3, 14))
('Taylor Levi Estevez', 'United States', datetime.date(1984, 6, 22))
('Dani Rovira', 'Spain', datetime.date(1984, 7, 1))
('Paula Speert Sheen', 'United States', datetime.date(1986, 1, 6))
('Paloma Rae Estevez', 'United States', datetime.date(1986, 2, 15))
('Clara Lago', 'Spain', datetime.date(1986, 4, 17))
('Patrick Criado', 'Spain', datetime.date(1995, 9, 23))
('Paula Jones-Sheen', 'United States', datetime.date(2003, 7, 6))
('Sam Sheen', 'United States', datetime.date(2004, 3, 9))
('Lola Sheen', 'United States', datetime.date(2005, 6, 1))
('Bob Sheen', 'United States', datetime.date(2009, 5, 1))
('Max Sheen', 'United States', datetime.date(2009, 5, 1))

In [40]:
## EXERCICI 3
# Has d'obtenir el nom del gènere i el nombre total de pel·lícules d'aquest gènere i ordenar-ho per ordre descendent de nombre 
# total de pel·lícules. 

cur.execute("""SELECT genre_name, count(movie_title) as new_table
FROM movies.tb_movie as pel
JOIN movies.tb_genre as gen ON pel.movie_genre_id = gen.genre_id
GROUP BY gen.genre_id
ORDER BY new_table desc;""")

result_3 = cur.fetchall()

for row in result_3:
    print(row)

('Comedia', 3)
('Ciencia Ficción', 2)
('Acción', 2)
('Suspense', 2)
('Drama', 2)
('Bélico', 1)
('Terror', 1)
('Fantasía', 1)
('Romance', 1)

In [41]:
## EXERCICI 4
# Has d'obtenir, per a cada persona, el seu nom i el nombre màxim de rols diferents que ha tingut en una mateixa pel·lícula. 
# Posteriorment, mostra únicament aquelles persones que hagin assumit més d'un rol en una mateixa pel·lícula.

cur.execute("""SELECT person_name, count(DISTINCT(role_id))  
FROM movies.tb_person as p
JOIN movies.tb_movie_person as m ON p.person_id = m.movie_id
GROUP BY m.movie_id;""")

result_4 = cur.fetchall()

for row in result_4:
    print(row)

('Francis Ford Coppola', 4)
('Carmine Coppola', 3)
('Marlon Brando', 4)
('Robert Duvall', 3)
('Martin Sheen', 1)
('Harrison Ford', 1)
('George Lucas', 3)
('Gary Kurtz', 2)
('Steven Spielberg', 2)
('John Williams', 1)
('Tom Hanks', 3)
('Alfred Joseph Hitchcock', 2)
('Anthony Perkins', 1)

In [53]:
cur.execute("""SELECT person_name, count(role_id) AS conteo_rol
FROM movies.tb_person as p
INNER JOIN movies.tb_movie_person as m 
	ON p.person_id = m.person_id
GROUP BY p.person_name, m.movie_id
HAVING conteo_rol >1;""")

result_4_2 = cur.fetchall()

for row in result_4_2:
    print(row)

('Francis Ford Coppola', 3)
('George Lucas', 2)
('Steven Spielberg', 2)
('Alfred Joseph Hitchcock', 3)
('Daniel Sanchez Arevalo', 2)
('Mel Gibson', 2)

In [42]:
## EXCERCICI 5
## Has de crear un nou gènere anomenat "Documental" el qual tingui com a identificador el nombre 69.

cur.execute("""INSERT INTO tb_genre (genre_id, genre_name)
VALUES ('69', 'Documental');""")

result_5 = cur.fetchall()

for row in result_5:
    print(row)

IntegrityError: 1062 (23000): Duplicate entry '69' for key 'tb_genre.PRIMARY'

In [48]:
cur.execute("""SELECT*FROM tb_genre;""")

result_5_1 = cur.fetchall()

for row in result_5_1:
    print(row)

(1, 'Acción', 'OS_SGAD', None, None)
(2, 'Ciencia Ficción', 'OS_SGAD', None, None)
(3, 'Comedia', 'OS_SGAD', None, None)
(4, 'Drama', 'OS_SGAD', None, None)
(5, 'Fantasía', 'apermag', None, None)
(6, 'Melodrama', 'apermag', datetime.date(2018, 9, 1), datetime.date(2018, 9, 27))
(7, 'Musical', 'OS_SGAD', None, None)
(8, 'Romance', 'OS_SGAD', None, None)
(9, 'Suspense', 'OS_SGAD', None, None)
(10, 'Terror', 'OS_SGAD', None, None)
(11, 'Bélico', 'OS_SGAD', None, None)
(69, 'Documental', 'OS_SGAD', None, None)

In [ ]:
## EXCERCICI 6
## Elimina la pel·lícula "La Gran Familia Española" de la base de dades.


cur.execute("""DELETE FROM movies.tb_movie
WHERE movie_title = 'La Gran Familia Española';""")

result_6 = cur.fetchall()

for row in result_6:
    print(row)

DatabaseError: 1205 (HY000): Lock wait timeout exceeded; try restarting transaction

In [43]:
cur.execute("""SELECT * FROM tb_movie;;""")

result_6_2 = cur.fetchall()

for row in result_6_2:
    print(row)

(1, 'Apocalypse Now', datetime.date(1979, 5, 10), 'Film', 11, 'OS_SGAD', None, None)
(2, 'Star Wars:Episode IV - A New Hope', datetime.date(1977, 5, 25), 'Film', 2, 'OS_SGAD', None, None)
(3, 'Indiana Jones and the Temple of Doom', datetime.date(1984, 5, 8), 'Film', 1, 'OS_SGAD', None, None)
(4, 'The Terminal', datetime.date(2004, 6, 18), 'Digital', 3, 'OS_SGAD', None, None)
(5, 'Jaws', datetime.date(1975, 1, 1), 'Film', 10, 'OS_SGAD', None, None)
(6, 'ET The Extraterrestrial', datetime.date(1982, 7, 25), 'Film', 5, 'OS_SGAD', None, None)
(7, 'Psycho', datetime.date(1960, 5, 6), 'Film', 9, 'OS_SGAD', None, None)
(8, 'Ocho Apellidos Vascos', datetime.date(2014, 3, 14), 'Digital', 3, 'OS_SGAD', None, None)
(9, 'Ocho Apellidos Catalanes', datetime.date(2016, 6, 9), 'Digital', 3, 'OS_SGAD', None, None)
(10, 'El otro lado de la cama', datetime.date(2002, 9, 4), 'Digital', 8, 'OS_SGAD', None, None)
(12, 'El dia de la bestia', datetime.date(1994, 12, 25), 'Film', 1, 'OS_SGAD', None, None)
(13, 'Braveheart', datetime.date(1995, 8, 8), 'Film', 4, 'OS_SGAD', None, None)
(14, 'The Shawshank Redemption', datetime.date(1992, 1, 7), 'Film', 4, 'OS_SGAD', None, None)
(15, 'Las brujas de Zugarramurdi', datetime.date(2009, 10, 7), 'Digital', 9, 'OS_SGAD', None, None)
(16, 'Blade Runner', datetime.date(1982, 12, 25), 'Digital', 2, 'OS_SGAD', None, None)

In [ ]:
## EXCERCICI 7
# Canvia el gènere de la pel·lícula "Ocho apellidos catalanes" perquè consti com a comèdia i no com a romàntica.

cur.execute("""UPDATE tb_movie
SET movie_genre_id=3
WHERE movie_title='Ocho apellidos catalanes';""")

result_7 = cur.fetchall()

for row in result_7:
    print(row)

DatabaseError: 1205 (HY000): Lock wait timeout exceeded; try restarting transaction

In [49]:
cur.execute("""SELECT * FROM tb_movie;""")

result_7 = cur.fetchall()

for row in result_7:
    print(row)

(1, 'Apocalypse Now', datetime.date(1979, 5, 10), 'Film', 11, 'OS_SGAD', None, None)
(2, 'Star Wars:Episode IV - A New Hope', datetime.date(1977, 5, 25), 'Film', 2, 'OS_SGAD', None, None)
(3, 'Indiana Jones and the Temple of Doom', datetime.date(1984, 5, 8), 'Film', 1, 'OS_SGAD', None, None)
(4, 'The Terminal', datetime.date(2004, 6, 18), 'Digital', 3, 'OS_SGAD', None, None)
(5, 'Jaws', datetime.date(1975, 1, 1), 'Film', 10, 'OS_SGAD', None, None)
(6, 'ET The Extraterrestrial', datetime.date(1982, 7, 25), 'Film', 5, 'OS_SGAD', None, None)
(7, 'Psycho', datetime.date(1960, 5, 6), 'Film', 9, 'OS_SGAD', None, None)
(8, 'Ocho Apellidos Vascos', datetime.date(2014, 3, 14), 'Digital', 3, 'OS_SGAD', None, None)
(9, 'Ocho Apellidos Catalanes', datetime.date(2016, 6, 9), 'Digital', 3, 'OS_SGAD', None, None)
(10, 'El otro lado de la cama', datetime.date(2002, 9, 4), 'Digital', 8, 'OS_SGAD', None, None)
(12, 'El dia de la bestia', datetime.date(1994, 12, 25), 'Film', 1, 'OS_SGAD', None, None)
(13, 'Braveheart', datetime.date(1995, 8, 8), 'Film', 4, 'OS_SGAD', None, None)
(14, 'The Shawshank Redemption', datetime.date(1992, 1, 7), 'Film', 4, 'OS_SGAD', None, None)
(15, 'Las brujas de Zugarramurdi', datetime.date(2009, 10, 7), 'Digital', 9, 'OS_SGAD', None, None)
(16, 'Blade Runner', datetime.date(1982, 12, 25), 'Digital', 2, 'OS_SGAD', None, None)